.card-list{
    display: flex;
    flex-direction: column;
    
}

.card{
    display: flex;
    gap: 50px;
    /* justify-content: space-between; */
}

.img-body{
    width: 30%;
    border: lightgreen 2px solid;
}
.flight-img{
    width: 70%;
}

.card-body{
    border: 2px lightcoral solid;
    display: flex;
    gap: 15px;
    padding: 5px;
    justify-content: space-between;
    
}