@import url(https://fonts.googleapis.com/css?family=Montserrat:400,800%27);

*{
    box-sizing: border-box;
    font-family: 'monserrat', sans-serif;
}


.searchContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(125, 141, 212);
    color: white;
    padding-bottom: 15px;
}

.searchContainer_widget{
    display: flex;
}


.recentSearch{
    display: none;
}
/* -------------------------------------------body Container------------------------------------- */

.body_container{
    width: 90%;
    margin: auto;
display: flex;
justify-content: space-between;
   

}

/* -------------------------------------------filter Section------------------------------------- */


.filter_heading{
    font-size: 26px;
}

.filter_sidebar{
    width: 40%;
    border: 2px blue solid;
}

.filter_price{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.filter_accomodation{
    display: flex;
    flex-direction: column;
    gap:9px;
}

.filter_category{
    display: flex;
    flex-direction: column;
    gap:9px;
}

.filter_rating{
    display: flex;
    flex-direction: column;
    gap:9px;
}

/* -------------------------------------------data-wrapper------------------------------------- */

#data-list-wrapper{
    display: flex;
    flex-direction: column;
}

/* ----------------------------Card-List-------------------------- */
.card-list{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap : 10px;
}

/* ----------------------------Card--------------------------- */

.card{

   border: 2px red solid;
    display : flex;
    flex-direction: column;

}

.main-card{
    display: flex;
    background-color: rgb(188, 255, 121);
}
.main-card img{
    border: 5px green dotted;
    width: 100%;
    /* height: 250px; */
    
}

.main-card-img{
    border: 2px aqua solid;
    width: 40%;
    margin: auto;
    padding-right: 5px;
}

.main-card-body{
    border: 2px aquamarine solid;
    width: 60%;
    padding-left: 5px;
}

.ratingDiv{
    display: flex;
    align-items: center;
}

.rating_stars{
    background-color: rgb(84, 255, 84);
    color: white;
    padding: 2px;
    border-radius: 2px;
    margin-right: 5px;
}



.price{
    color: red;
}

.price::after{
    content: "(per room per night)";
    font-weight: 100;
    color: black;
    font-size: 12px;
}

.card_btns{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.book_btn{
    padding: 10px;
    color: white;
    background-color: rgb(2, 185, 2);
    border-radius: 5px;
    font-weight: bold;
}

.book_btn:hover{
    background-color: rgb(9, 160, 9);
}



/* ----------------------------Card-Details-------------------------- */

.card-details{
    /* display: flex; */
    background-color: pink;
    flex-direction: column;
    display: none;
    position: relative;
    
}

.amenities{
    font-weight: bold;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.card_description{
    display: block;
   
    padding: 5px;
}

