nav{
    display: flex;
    background-color:rgb(125,141,212);
    position: -webkit-sticky;
    position: sticky;
    width: auto;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
    top: 0;
  
}
nav > ul{
    width: 60%;
    display: flex;
list-style-type: none;
justify-content: space-between;

color: white;
}
nav >ul> li{
    width: 100%/4;
    margin: 10px;
    color: white;
    padding: 5px;

}
nav >ul> li:hover{
    
    
    border: 1px solid white;
    cursor: pointer;
    background-color: rgb(170, 181, 229);
    border-radius: 5px;

}
nav >button:hover{
    
    
    border: 1px solid white;
    cursor: pointer;
    background-color: rgb(170, 181, 229);
    border-radius: 5px;

}
nav > img{
width: 15%;
}
nav>button{
    background-color: rgb(125,141,212);
    border: 1px white solid;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
    border-radius: 30px;
}
a{
    text-decoration:none;
    color: white;
}
.hamburger{
    display: none;
}
nav   > ul> .login-1{
    display: none;
}
/* 
!hamberger
*/
@media screen and (max-width: 800px) {
    nav ul.menu {
      display: none;
    }
    .hamburgernot{
        display: none;
    }
    nav   > ul> .login-1{
    display: none;
}
    
    nav button.hamburger {
      display: block;
      margin-right: 10px;
    }
  }